.board {
  display: grid;
  grid-row-gap: 5px;
  padding: 15px;
}

.gameRowLabel {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-5);
}

.board-with-label {
  grid-template-columns: 50px 1fr;
}
