.board {
  display: grid;
  grid-template-rows: repeat(6, 50px);
  grid-row-gap: 8px;
}

.board-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    padding: 15px;
}
