.instructions {
  font-size: 0.9rem;
  font-weight: var(--font-weight-5);
  color: var(--gray-8);
  line-height: var(--font-lineheight-0);
  letter-spacing: var(--font-letterspacing-0);
}

.instructions h5 {
  font-size: 1.1rem;
  margin: var(--size-fluid-2) 0;
}

.instruction-game-row {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: repeat(5, calc(var(--tile-size) * 0.8));
  grid-template-rows: calc(var(--tile-size) * 0.8);
  margin-top: var(--size-5)
}

.praydle-span {
  color: var(--color-title);
  font-size: 0.975rem;
}
