.header-container {
    margin-top: 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
}

.header-icon {
  font-size: 1rem;
  margin: 0px 10px;
}

.title {
  font-weight: 750;
  font-size: 1.8rem;
}

.title-color-span { 
  color: var(--color-title);
}
