.game-row {
  display: grid;
  grid-column-gap: 5px;
  /* justify-item: center; */
}

.game-row[data-animation='shake'] {
  animation-name: Shake;
  animation-duration: 300ms;
}

@keyframes Shake {
  0%, 40%, 80% {
    transform: translateX(5px);
  }

  20%, 60%, 100% {
    transform: translateX(-5px);
  }
}
