.row {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.key {
  margin-right: 6px;
  background-color: var(--keyboard-background);
  padding: 5px;
  aspect-ratio: var(--ratio-portrait);
  block-size: var(--letter-size);
  border-radius: var(--radius-2);
  font-size: var(--font-size-3);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  justify-content: center;
}

.control-key {
  width: var(--font-size-7);
  letter-spacing: var(--font-letterspacing-0);
  font-size: var(--font-size-0);
  color: var(--gray-6);
}
