.row {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.key {
  margin-right: 6px;
  background-color: var(--keyboard-background);
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.control-key {
  width: 50px;
  font-size: 1.2rem;
}
.key-icon {
  position: relative;
}

.grey {
  color: var(--grey-icon);
}
