.row {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.key {
  margin-right: 6px;
  background-color: var(--keyboard-background);
  padding: 5px;
  height: var(--letter-size-height);
  width: var(--letter-size-width);
  border-radius: var(--radius-2);
  font-size: var(--font-size-3);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  justify-content: center;
}

.control-key {
  width: var(--font-size-fluid-3);
  letter-spacing: var(--font-letterspacing-0);
  font-size: var(--font-size-0);
  color: var(--gray-6);
}

.ready-for-click {
  color: var(--color-correct);
  font-weight: var(--font-weight-9);
  font-size: var(--font-size-enter-button);
}

.key[data-state='absent'] {
  background-color: var(--color-absent);
  color: var(--gray-0);
}

.key[data-state='present'] {
  background-color: var(--color-present);
  color: var(--gray-0);
}

.key[data-state='correct'] {
  background-color: var(--color-correct);
  color: var(--gray-0);
}
