@import "open-props/style";

:root {
  --color-1-icon: var(--gray-2);
  --color-2-icon: var(--gray-8);
  --color-3-icon: var(--yellow-1);
  --color-4-icon: var(--teal-6);
  --color-5-icon: var(--indigo-4);
  --grey-icon: grey;
  --keyboard-background: lightgrey;
  --game-max-width: 500px;
  --color-present: var(--yellow-6);
  --color-correct: var(--green-3);
  --color-absent: var(--gray-6);
  --background: var(--gradient-7);
  --tile-size: 4rem;
  --letter-size: 2.5rem;
}

.nightmode {
  /* --color-present: var(--yellow-1);
  --color-correct: var(--green-6);
  --color-absent: var(--gray-1); */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
