.tile {
  border: var(--border-size-2) solid var(--gray-3);
  user-select: none;
  overflow: hidden;
}

.letter {
  font-size: 2.5rem;
  font-size: var(--font-size-5);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);

}

.tile[data-state='absent'] {
  background-color: var(--color-absent);
  border: 0;
  color: var(--gray-0);
}

.tile[data-state='present'] {
  background-color: var(--color-present);
  border: 0;
  color: var(--gray-0);
}

.tile[data-state='correct'] {
  background-color: var(--color-correct);
  border: 0;
  color: var(--gray-0);
}

.tile[data-state='tbd'] {
  border: var(--border-size-2) solid var(--gray-6);
}

.tile[data-animation='pop'] {
  animation-name: PopIn;
  animation-duration: 100ms;
}

@keyframes PopIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.tile[data-animation='flip-in'] {
  animation-name: FlipIn;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}

@keyframes FlipIn {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

.tile[data-animation='flip-out'] {
  animation-name: FlipOut;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}

@keyframes FlipOut {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.tile[data-animation='bounce'] {
  animation-name: Bounce;
  animation-duration: 800ms;
}

@keyframes Bounce {
  0% {
    z-index: 100;
    overflow: visible;
  }
  20% {
    transform: translateY(-25px);
  }

  40% {
    transform: translateY(7px);
  }

  60% {
    transform: translateY(-10px);
  }

  80% {
    transform: translateY(3px);
  }
  100% {
    z-index: 0;
    overflow: hidden;
  }
}
