.tile {
  border: 2px solid grey ;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.icon {
  font-size: 2.5rem;
}

.red {
  color: var(--red-icon);
}

.orange {
  color: var(--orange-icon);
}

.beige {
  color: var(--beige-icon);
}

.green {
  color: var(--green-icon);
}

.blue {
  color: var(--blue-icon);
}
